.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-logo img {
    width: 100px; /* Adjust as needed */
    height: auto;
}

.navbar-items-container {
    display: flex;
    color: #6f42c1;
    padding-right:5px ;
}

.navbar-item {
    margin-right: 20px;
    font-size: 18px;
    padding-bottom: 5px;
}

.navbar-buttons-container {
    display: flex;
}

.navbar-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #6f42c1;
    color: #fff;
    margin-right: 10px;
}

.purple-background {
    background-color: #6f42c1; /* Adjust the color as needed */
    color: #fff;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
}

.open .bar:nth-child(2) {
    opacity: 0;
}

.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
}

@media screen and (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .navbar-items-container {
        display: none;
        flex-direction: column;
        width: 100%;
        
    }

    .navbar-buttons-container {
        margin-top: 10px;
    }

    .navbar-toggle {
        display: block;
    }

    .open .navbar-items-container {
        display: flex;
        
    }

    .open .navbar-toggle .bar {
        background-color: #fff;
    }
}
